<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="zzsc-container">
    <button id="women" class="btn-1">choropleth map(women)</button>
    <button id="men" class="btn-4">choropleth map(men)</button>
    <button id="teammate" class="btn-8">Teammate Graph</button>
</div>
<div></div>
<div id = 'wrap'>
    <svg id="map" width="1000" height="600"></svg>
</div>

<div style="color: #fff">
    <h3>Yubo Li</h3>
    <h4>01692497</h4>
    <h5>Data Visualization (DSC 530/CIS 602-02)</h5>
    <h5>Assignment 3</h5>
    <p>This assignment is all my own work. I did not copy the code from any other source." (Your inclusion of this text indicates that you understand the consequences of violating the UMass Dartmouth Student Academic Integrity Policy.</p>
</div>
</body>
</html>